<div class="nav">
  <a href="about" class="about">About</a>
  <a href="contact" class="contact selected">Contact</a>
  <a href="projects_current" class="projects">Projects</a>
</div>
<div class="hero-image">
  <img src="/images/AV_contactimage.jpg" alt=" " width="843" height="94">
</div>
<div class="description">
  {{{page.text}}}
</div>

<!-- <h3>Cheryl Pierce</h3>
<h4>Artists' Producer</h4>

<address>
<li><h3>ARTSADMIN</h3></li>
<li><h4>Toynbee Studios</h4></li>
<li>28 Commercial Street</li>
<li>London</li>
<li>E1 6AB</li>
<li><tel>+44 (0)207 247 5102</tel></li>
<li><a href="mailto:cheryl@artsadmin.co.uk?subject=Query from website&body=Dear Cheryl, ">cheryl@artsadmin.co.uk</a></li>
<li><a href="http://www.artsadmin.co.uk" target="_Blank">artsadmin.co.uk</a></li>
</address> -->